{% extends 'base.html' %}
{% load static %}

{% block content %}


<section>
      <!-- Hero -->
      <div class="hero container text-center">
        <h2>welcome to</h2>
        <h1 class="hero-title">Review the Comic!</h1>
        <p class="hero-description">Graphic Tales For Curious Brains</p>
      </div>
</section>
<section>
<!-- Cards for reviews -->
  <!-- Bootstrap Card -->
<div class="container" style="max-width: 1024px;"> 
<div class="row justify-content-center g-4"> 
    {% for review in reviews %}
    <div class="col-10 col-md-5 col-lg-5 mb-3">

      <!-- Made the whole card clickable -->
      <a href="{{ review.review_url }}" style="cursor: pointer;" class="text-decoration-none text-dark">
        <div class="card">
          <div class="row g-0">
          <div class="col-md-4">
              {% if "placeholder" in review.featured_image.url %}
            <img src="{% static 'images/placeholder.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="placeholder image">
            {% else %}
            <img src="{{ review.featured_image.url }}" style="width: 100%; height: 100%; object-fit: cover; padding: 3px;" alt="{{ review.title }}">
            {% endif %}
          </div>
          <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title h5">{{ review.title }}</h2>
            <p class="card-author">By {{ review.book_author }}</p>
            <p class="card-text">{{review.excerpt}}.</p>
            <p><small class="text-body-secondary">{{ review.created_at | date:"Y, M, d" }}</small></p>
          </div>
          </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
</div>      
</div>


    
<!-- if more then 6, start a new page with pagination -->

{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link btn" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo; PREV</a>
        </li>
        {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link btn" href="?page={{ page_obj.next_page_number }}" aria-label="Next">NEXT &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

</section>
{% endblock %}