{% extends 'base2.html' %} 
{%load crispy_forms_tags %} 
{% load static %} 
{% block content %}

<section>
  <div class="container">
    <div class="row justify-content-center m-3">
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
         <div class="col-md-7">
              {% if "placeholder" in review.featured_image.url %}
            <img src="{% static 'images/placeholder.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="placeholder image">
            {% else %}
            <img src="{{ review.featured_image.url }}" style="width: 100%; height: 100%; object-fit: cover; padding: 3px;" alt="{{ review.title }}">
            {% endif %}
          </div>
      <div class="col-10 col-md-8 m-3">
        <h1>{{ review.title }}</h1>
        <p>By {{ review.book_author }}</p>
        <p>{{ review.content }}</p>
        <p><small class="text-body-secondary">{{ review.created_at | date:"Y, M, d" }}</small></p>
        <hr />

        <div class="edit">
          {% if user == review.author %}
          <a href="{% url 'edit_review' slug=review.slug %}" class="btn mb-2">Edit Review</a>
          <a href="{% url 'delete_review' slug=review.slug %}" class="btn mb-2">Delete Review</a>
          {% endif %}
        </div>


        <!-- Like Buttons Icons from Font Awesome -->
      <div class="like-section mt-3 mb-3">  
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'review_like' slug=review.slug %}">
          {% csrf_token %} 
          {% if post_is_liked %}
          <button type="submit" name="like" class="like" aria-label="Like">
            <i class="fas fa-heart"></i>
          </button>
          {% else %}
          <button type="submit" name="like" class="unlike" aria-label="Unlike">
            <i class="far fa-heart"></i>
          </button>
          {% endif %}
        </form>
        {% endif %}
        <small>{{ Total_likes }} {{ Total_likes|pluralize:"like,likes" }}</small>
      </div>
        
        <!-- Comment section -->
        <h2 class="h5">Comments</h2>
        {% for comment in comments %}
        <div class="card mb-2">
          <div class="card-body">
            <p class="comment-p">{{ comment.content }}</p>
            <p>By {{ comment.author }}</p>
            <p>Posted on {{ comment.created_at }}</p>
          </div>
        </div>
        {% empty %}
        <p>No comments yet. Be the first to comment!</p>
        {% endfor %}
        <hr />

        {% if user.is_authenticated %}
        <h2 class="h5">Leave a Comment</h2>
        <form
          method="post"
          action="{% url 'comment_review' slug=review.slug %}"
        >
          {% csrf_token %} {{ comment_form | crispy }}
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        {% else %}
        <p><a href="{{ login_url }}">Log in</a> to leave a comment.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}