/* color pallett 
#4d5a91
#a9aabc
#444655
#c19fa3 
*/

body {
    background-color: aliceblue;
}

h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
    color: #444655;
}

p {
    font-family: 'Elms Sans', sans-serif;
    color: #444655;
}

/* navbar */

.navbar-style {
    background-color: aliceblue;
}


/* hero section */

.hero h1 {
    font-size: 3rem;
    color: #4d5a91;
    text-align: center;
}

.hero p {
    font-size: 1rem;
    color: #444655;
    text-align: center;
}
