/* color pallett 
#4d5a91
#a9aabc
#444655
#c19fa3 
*/

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body {
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Chewy', cursive;
    color: black;
}

p {
    font-family: 'SN Pro', sans-serif;
    color: black;
}

/* navbar */

.logo {
    width: 3em !important;
    height: auto !important;
}

.navbar-collapse {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    width: auto;
    padding: 10px 20px;
    z-index: 999;
}
    
.navbar {
    position: relative;
}

/* hero section */

.hero h1 {
    font-size: 2rem;
    text-align: center;
}

.hero p {
    font-size: 0.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 4em;
    }
    .logo {
        width: 5em !important;
    }
}
@media (min-width: 1024px) {
    .hero h1 {
        font-size: 5em;
    }
    .hero p {
        font-size: 1.2rem;
    }
}