/* color pallett 
#4d5a91
#a9aabc
#444655
#c19fa3 
*/

@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&display=swap');


body {
    background-color: aliceblue;
}

h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
    color: black;
}

p {
    font-family: 'Elms Sans', sans-serif;
    color: black;
}

/* navbar */

.navbar-style {
    background-color: aliceblue;
}


/* hero section */

.hero h1 {
    font-size: 3rem;
    text-align: center;
}

.hero p {
    font-size: 1rem;
    text-align: center;
}
